.wrapper {
  display: flex;
  width: 100vw;
  /* background-image: './mountain-g936d46878_1920.jpg'; */
}

.card {
  display: flex;
  margin: 2em;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  height: 100%;
}

.dragArea {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100vw;
  height: 5vh;
  background-color: aqua;
}
